@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
.welcomescreen h1 {
  position: absolute;
  font-size: 4em;
  color: #444;
  letter-spacing: 20px;
  width: 581px;
  height: 75px;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -290px;
}

.desktop-group {
  position: fixed;
  overflow: hidden;
  background-image: url('/src/img/default-wp.jpg');
  background-size: cover;
  background-position: center;
}

.topmenu, .desktop, .bottompanel {
  display: none;
}
.topmenu {
  height: 25px;
  width: 100%;
  background: rgba(0,0,0,.9);
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  box-shadow: 3px 0 10px #000;
}
.topmenu .menu-item {
  display: inline-block;
  padding: 3px 10px;
  cursor: pointer;
  vertical-align: top;
}
.topmenu .menu-item.selected {
  background: rgb(38, 70, 233);
}
.topmenu .menu-item .submenu {
  position: absolute;
  display: none;
}
.topmenu .menu-item .submenu .submenu-item {
  padding: 5px 20px 5px 10px;
  background: #fff;
  color: #888;
  margin-right: -10px;
  margin-left: -10px;
}
.topmenu .menu-item .submenu-item:hover {
  background: rgb(38, 70, 233);
  transition: background .3s;
  color: #fff;
}
